<!-- your html code here -->
<div class="container pt-5">
    <div class="row">
        <div class="col">
            <h2 class="h1">Contact</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Donec ullamcorper nulla non meteus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna. vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
            </p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <form class="ps-4 pb-4 pt-2 pe-2 border border-secondary-subtle bg-light">
                    <div class="mb-3">
                        <div class="gap-4 d-flex justify-content-end align-items-center">
                            <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
                            <input type="email" class="form-control w-75" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="gap-4 d-flex justify-content-end">
                            <label for="exampleInputPassword1" class="form-label">Your message</label>
                            <textarea class="form-control w-75 h-100" id="exampleInputPassword1"
                                placeholder="Please enter your message here..."></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>