<!-- your html code here -->
<div class="row">
    <div class="col">
        <h2 class="h1">Contact</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Donec ullamcorper nulla non meteus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna. vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="d-flex">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
        </form>
    </div>
</div>