<div style="display: flex; justify-content: space-between; padding: 20px; margin: auto;">
    <div class="col-6">
       <h2>The first heading Wild cath your eye</h2>
       <p>Donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis eusmod semper. praesent commodo cursus magna, vel scelerisque nisl consectur. fusce dapibus, tellus ac cursu commodo</p>
    </div>
<div class="col-6">
    <img style="width: 40%; border-radius: 50%;" src="./assets/img/1.jpg" alt="">
</div>
</div>
