<!-- your html code here -->
<h1>Portfolio</h1>
<p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias cupiditate odit quisquam ea, enim veritatis quis hic, adipisci debitis eius consequuntur accusamus! Repellat numquam vero eaque modi dolores voluptatum?</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
        <img src="./assets/img/big-project-image.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <p class="card-text">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aut animi mollitia optio tempore nemo recusandae quae, harum corporis at ab, eligendi porro itaque neque, fuga accusantium earum. Tempora, cumque.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <img src="./assets/img/big-project-image.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <p class="card-text">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempora omnis ipsa autem recusandae rerum laboriosam odio, laudantium labore vero corrupti facere, odit, consequatur ut repudiandae! Fugit explicabo eos quia!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/img/big-project-image.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <p class="card-text">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, iste atque excepturi iure quidem blanditiis ex aliquam dicta asperiores, ratione laboriosam temporibus, neque aut! Repellendus animi dolore sunt illum quam!
            </p>
          </div>
        </div>
      </div>
    </div>