<div class="py-3 bg-light">
  <div class="container bg-light">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" height="200" width="200">
      </div>
      <div class="col-lg-8">
        <h2>The Second Heading <small class="text-muted">Is Pretty Cool Too.</small></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti tempore maiores? Quaerat ea quae voluptate dolorum ut explicabo placeat, hic odio, minus eligendi libero perferendis laborum? Ea, quae reiciendis.</p>
      </div>
    </div>
  </div>
</div>